In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-09-18 22:17:27,-9.8000,-139.0333,77.81,78,5,18.28
1,1,Busselton,AU,2021-09-18 22:17:27,-33.6500,115.3333,53.04,90,70,5.77
2,2,Punta Arenas,CL,2021-09-18 22:17:28,-53.1500,-70.9167,48.31,66,0,12.66
3,3,Victoria,HK,2021-09-18 22:13:57,22.2855,114.1577,85.32,83,91,11.43
4,4,Tiksi,RU,2021-09-18 22:17:28,71.6872,128.8694,34.07,80,100,17.09

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-09-18 22:17:27,-9.8000,-139.0333,77.81,78,5,18.28
3,3,Victoria,HK,2021-09-18 22:13:57,22.2855,114.1577,85.32,83,91,11.43
14,14,Bafoulabe,ML,2021-09-18 22:17:33,13.8065,-10.8321,80.82,78,26,1.90
15,15,Buala,SB,2021-09-18 22:17:34,-8.1450,159.5921,82.90,78,80,11.23
16,16,Bengkulu,ID,2021-09-18 22:17:34,-3.8004,102.2655,75.33,90,85,8.70
19,19,Puerto Ayora,EC,2021-09-18 22:15:15,-0.7393,-90.3518,78.76,89,82,10.00
21,21,Vaini,TO,2021-09-18 22:17:36,-21.2000,-175.2000,75.36,94,75,10.36
24,24,Kapaa,US,2021-09-18 22:17:38,22.0752,-159.3190,84.18,70,20,4.00
25,25,Butaritari,KI,2021-09-18 22:17:38,3.0707,172.7902,83.01,69,14,17.16
26,26,Avarua,CK,2021-09-18 22:17:39,-21.2078,-159.7750,80.65,65,20,17.27

In [12]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(20)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Atuona      PF     77.81  -9.8000 -139.0333
3       Victoria      HK     85.32  22.2855  114.1577
14     Bafoulabe      ML     80.82  13.8065  -10.8321
15         Buala      SB     82.90  -8.1450  159.5921
16      Bengkulu      ID     75.33  -3.8004  102.2655
19  Puerto Ayora      EC     78.76  -0.7393  -90.3518
21         Vaini      TO     75.36 -21.2000 -175.2000
24         Kapaa      US     84.18  22.0752 -159.3190
25    Butaritari      KI     83.01   3.0707  172.7902
26        Avarua      CK     80.65 -21.2078 -159.7750
28       Garissa      KE     75.20  -0.4536   39.6401
30     Hithadhoo      MV     82.65  -0.6000   73.0833
34       Bonanza      NI     80.44  14.0289  -84.5910
38       Urucara      BR     76.87  -2.5364  -57.7600
41     Jaisalmer      IN     87.48  26.9147   70.9181
44        Palmer      US     79.56  42.1584  -72.3287
46   Bandarbeyla      SO     79.38   9.4942   50.8122
50          Hilo      US     82.27  19.7297 -155.0900
51          Jalu      LY     83.01  29.0331   21.5482
52     Namatanai      PG     83.28  -3.6667  152.4333

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))