## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Purificacion,CO,3.8587,-74.9313,80.87,55,80,3.85,broken clouds
1,1,Hasaki,JP,35.7333,140.8333,77.40,68,99,25.14,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,79.66,81,56,10.94,light rain
3,3,Mahebourg,MU,-20.4081,57.7000,68.29,94,75,5.75,light rain
4,4,Bredasdorp,ZA,-34.5322,20.0403,50.29,93,2,6.91,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Purificacion,CO,3.8587,-74.9313,80.87,55,80,3.85,broken clouds
1,1,Hasaki,JP,35.7333,140.8333,77.40,68,99,25.14,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,79.66,81,56,10.94,light rain
5,5,Khipro,PK,25.8285,69.3772,85.26,65,100,14.09,overcast clouds
9,9,Maumere,ID,-8.6199,122.2111,83.61,60,55,1.57,broken clouds
13,13,Kieta,PG,-6.2167,155.6333,84.99,68,88,5.39,light rain
15,15,Gashua,NG,12.8710,11.0482,82.54,56,61,7.58,broken clouds
16,16,Bourail,NC,-21.5667,165.4833,75.92,46,0,5.23,clear sky
18,18,Pangkalanbuun,ID,-2.6833,111.6167,86.77,55,32,6.85,light rain
19,19,Sumter,US,28.7086,-82.0831,79.74,88,100,4.07,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             231
City                   231
Country                231
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Current Description    231
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
clean_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Purificacion,CO,3.8587,-74.9313,80.87,55,80,3.85,broken clouds
1,1,Hasaki,JP,35.7333,140.8333,77.40,68,99,25.14,overcast clouds
2,2,Bengkulu,ID,-3.8004,102.2655,79.66,81,56,10.94,light rain
5,5,Khipro,PK,25.8285,69.3772,85.26,65,100,14.09,overcast clouds
9,9,Maumere,ID,-8.6199,122.2111,83.61,60,55,1.57,broken clouds
13,13,Kieta,PG,-6.2167,155.6333,84.99,68,88,5.39,light rain
15,15,Gashua,NG,12.8710,11.0482,82.54,56,61,7.58,broken clouds
16,16,Bourail,NC,-21.5667,165.4833,75.92,46,0,5.23,clear sky
18,18,Pangkalanbuun,ID,-2.6833,111.6167,86.77,55,32,6.85,light rain
19,19,Sumter,US,28.7086,-82.0831,79.74,88,100,4.07,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Purificacion,CO,80.87,broken clouds,3.8587,-74.9313,
1,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,
2,Bengkulu,ID,79.66,light rain,-3.8004,102.2655,
5,Khipro,PK,85.26,overcast clouds,25.8285,69.3772,
9,Maumere,ID,83.61,broken clouds,-8.6199,122.2111,
13,Kieta,PG,84.99,light rain,-6.2167,155.6333,
15,Gashua,NG,82.54,broken clouds,12.8710,11.0482,
16,Bourail,NC,75.92,clear sky,-21.5667,165.4833,
18,Pangkalanbuun,ID,86.77,light rain,-2.6833,111.6167,
19,Sumter,US,79.74,light rain,28.7086,-82.0831,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.") 
# hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))